<div class="main-page">
  <div id="logo-container">
    <div id="t-top">
      <div class="dotted-line-top"></div>
    </div>
    <div id="main-clapper">
      <div id="t-leg">
        <div class="dotted-line-bottom"></div>
      </div>
      <p>M</p>
    </div>
  </div>
  <h1>Welcome to Track'M</h1>
  <div class="welcome-actions">
    <mat-tab-group style="width: 100%">
      <mat-tab label="Log In">
        <app-user-login-form></app-user-login-form>
      </mat-tab>
      <mat-tab label="Sign Up">
        <app-user-registration-form></app-user-registration-form>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>