<mat-toolbar class="navbar">
    <div (click)="navigateMovies()" id="logo-container">
        <div id="t-top">
            <div class="dotted-line-top"></div>
        </div>
        <div id="main-clapper">
            <div id="t-leg">
                <div class="dotted-line-bottom"></div>
            </div>
            <p>M</p>
        </div>
    </div>
    <div>
        <button mat-button (click)="navigateProfile()"><mat-icon>account_circle</mat-icon>Profile</button>
        <button mat-button (click)="logoutUser()"><mat-icon>logout</mat-icon>Logout</button>
    </div>
</mat-toolbar>