<div style="display: flex;" class="movie-cards">
    <mat-card *ngFor="let movie of movies; let i=index;" class="movie-card" style="flex: 1 1 auto;">
        <mat-card-header class="movie-card-header">
            <mat-card-title>
                {{movie.Title}}
            </mat-card-title>
        </mat-card-header>
        <img style="width: 220px; margin: 0 auto;" src={{movie.ImagePath}} alt={{movie.Title}} />
        <mat-card-actions class="movie-card-actions-container">
            <div class="movie-card-actions">
                <button 
                mat-button 
                color="primary"
                (click)="openGenreDialog(movie.Genre.Name, movie.Genre.Description)"
                >
                    {{movie.Genre.Name}}
                </button>
                <mat-icon>favorite_border</mat-icon>
            </div>    
            <div class="movie-card-actions-left">
                <p>By </p>
                <button 
                mat-button 
                color="primary"
                (click)="openDirectorDialog(movie.Director.Name, movie.Director.Bio, movie.Director.Birth)"
                >
                    {{movie.Director.Name}}
                </button>
            </div>
            <div class="movie-card-actions-left" style="padding-left: 0;">
                <button 
                mat-button 
                color="primary"
                (click)="openSummaryDialog(movie.Title, movie.Description)"
                >
                    Read Synopsis<mat-icon>launch</mat-icon>
                </button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>