<app-navigation-bar></app-navigation-bar>
<div style="display: flex;" class="movie-cards">
    <mat-card *ngFor="let movie of movies; let i=index;" class="movie-card" style="flex: 1 1 auto;">
        <mat-card-header class="movie-card-header">
            <mat-card-title>
                {{movie.Title | uppercase}}
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="movie-card-content">
            <div class="movie-card-img">
                <img style="width: 170px;" src={{movie.ImagePath}} alt={{movie.Title}} />
            </div>
            <mat-card-actions class="movie-card-actions-container">
                <mat-icon 
                    (click)="toggleFavoriteMovies(movie._id)" 
                    color="accent"
                >
                    {{favoriteMovies.includes(movie._id) ? 'favorite' : 'favorite_border'}}
                </mat-icon>
                <mat-divider style="width: 100%;"></mat-divider>
                <button 
                    mat-button 
                    (click)="openGenreDialog(movie.Genre.Name, movie.Genre.Description)"
                >
                    Genre
                </button>
                <mat-divider style="width: 100%;"></mat-divider>
                <button 
                    mat-button
                    (click)="openDirectorDialog(movie.Director.Name, movie.Director.Bio, movie.Director.Birth)"
                >
                    Director
                </button>
                <mat-divider style="width: 100%;"></mat-divider>
                <button 
                    mat-button 
                    (click)="openSummaryDialog(movie.Title, movie.Description)"
                >
                    Summary
                </button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
</div>