.movie-cards {
    flex-wrap: wrap;
    justify-content: center;
    margin: 70px 0;
}

.movie-card {
    margin: 10px;
    width: 280px;
    max-width: 280px;
    justify-content: space-between;
}

.movie-card-header {
    padding-bottom: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    // font-weight: 600;
}

.movie-card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 16px;
    background-color: #212121;
}

.movie-card-actions-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.movie-card-actions-left {
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    font-size: small;
    width: 100%;
}