<div class="main-page mat-app-background">
  <mat-card class="welcome-card">
    <mat-card-header>
      <mat-card-title>Welcome to Track'M</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div id="logo-container">
        <div id="t-top">
          <div class="dotted-line-top"></div>
        </div>
        <div id="main-clapper">
          <div id="t-leg">
            <div class="dotted-line-bottom"></div>
          </div>
          <p>M</p>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button 
        mat-raised-button 
        (click)="openUserRegistrationDialog()" 
        style="margin-right: 10px; width: 80px" 
        color="primary"
      >
        Sign Up
      </button>
      <button 
        mat-raised-button 
        (click)="openUserLoginDialog()" 
        style="margin-left: 10px; width: 80px" 
        color="primary"
      >
        Login
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<router-outlet></router-outlet>