<app-navigation-bar></app-navigation-bar>
<div class="profile-container">
    <h1 style="margin-top: 90px;">Hello {{user.Username}}!</h1>
    <mat-tab-group style="width: 70%; min-width: 300px;">
        <mat-tab label="Update Info">
            <h3>Update your Info</h3>
            <form style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <mat-form-field class="update-input-field">
                    <input matInput placeholder={{user.Username}} type="text" name="Username" required>
                </mat-form-field>
                <mat-form-field class="update-input-field">
                    <input matInput type="password" placeholder="*******" name="Password" required>
                </mat-form-field>
                <mat-form-field class="update-input-field">
                    <input matInput type="email" placeholder={{user.Email}} name="Email" required>
                </mat-form-field>
                <mat-form-field class="update-input-field">
                    <input matInput type="date" placeholder={{user.Birthday}} name="Birthday">
                </mat-form-field>
            </form>
            <button mat-raised-button color="primary" class="form-buttons">Update</button>
        </mat-tab>
        <mat-tab label="Delete Profile">
            <h3>Delete your Profile</h3>
            <button mat-raised-button color="warn" class="form-buttons">Delete</button>
        </mat-tab>
    </mat-tab-group>
</div>